{% extends "catalog/base.html" %}
{% block content %}
{% load my_tags %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mb-5 mt-4 mx-auto text-center">
    <h1 class="display-2">Подробное описание товара</h1>
    <p>Если у вас остались вопросы по товару, вы можете обратиться к нам через вкладку "Контакты"</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{% mediapath object.image %}" width="300" height="300" alt="изображение">
        </div>
        <div class="col-md-6">
            <h2><p>{{ object.name }}</p></h2>
            <big><p> Категория: <b>{{ object.category }}</b></p></big>
            <big><p> Описание: <b>{{ object.description }} </b></p></big>
            <big><p>Номер версии: <b>{{ object.active_version_number }}</b></p></big>
            <big><p>Название версии: <b>{{ object.active_version_name }}</b></p></big>
        </div>
    </div>
    {% endblock %}